body{
    background-image: url("../CSS/unnamed\ \(1\).jpg");
}
h1{
    font-family: Georgia, Times, 'Times New Roman', serif;
    color: aliceblue;
    text-align: center;
}
p{
    font-family: Georgia, Times, 'Times New Roman', serif;
    text-decoration: solid;
    color: aliceblue;
    text-align: center;
    font-size: 35px;
    font-style: initial
}
